html {
    font-size: 16px;

}
body {
    margin: 0;
    padding: 0;
    background-color: #fff;
    position: relative;
    top: 0;
}
main {
    margin: 0;
}
header {
    margin: 00px auto;
    display: flex;
    justify-content: center;
}
.navbar {
    display: flex;
    position: fixed;
    background-color: white;
    z-index: 1;
    border: 0px solid gainsboro;
    border-radius: 40px;
    justify-content: space-around;
    align-items: center;
    width: 60%;
    margin: 0;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    top: 30px;

}
.navbar ul {
    display: inline-flex;
    padding: 10px;
    flex-wrap: wrap;
}
.navbar li {
    display: inline-flex;
    margin: 0px 90px
}
.navbar li a {
    text-decoration: none;
    color: black;
    font-family: 'Roboto';
    font-size: 1.2rem;
    font-weight: bold;
    transition: text-decoration 800ms ease-out;
    text-decoration: underline transparent;
}
.navbar li a:hover {
    text-decoration-color: black;
}
img {
    width: 100px;
}
.firstBanner {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image: url("./Resources/Untitled\ design.png");
    margin: 0;
    height: 500px;
    background-position: center;
    background-size: cover;
    width: 100%;
}
.firstBanner h1 {
    font-size: 5rem;
    font-family: helvetica, sans-serif;
    font-weight: 800;
    font-style: oblique;
    padding-top: 50px;
    padding-bottom: 0;
    margin-bottom: 0;
}
.firstBanner p {
    font-size: 1.5rem;
    font-family: Helvetica;
    text-shadow: 2px 2px 0px rgba(255, 255, 255, 1);
}
.explore {
    font-family: 'roboto';
}
.explore h2 {
    font-size: 3rem;
    margin: 15px;
    font-weight: 500;
}
.explore p {
    font-size: 1.5rem;
    color: gray;
    margin-left: 15px;
    margin-top: 0;
}
.featured {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}
.featured img {
    width: 400px;
    height: 250px;
    object-fit: cover;
    border: 1px transparent solid;
    border-radius: 25px;
}
.float {
    opacity: 0; /* Initially hidden */
    position: absolute;
    top: 55%; /* Adjust as needed */
    left: 47.5%; /* Adjust as needed */
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    transition: opacity 0.5s ease; /* Transition opacity over 0.5 seconds */
    width: 100%;
    height: 100%;
}

.image-container:hover .float {
    opacity: 1; /* Display with full opacity on hover */
}

.image-container {
    position: relative; /* Ensure the container is positioned */
}
.highlight {

}
footer {

}
